/* === Focus Ring === */
@utility focus-ring {
  @apply ring-focus/30 ring-offset-focus ring-3 ring-offset-1 outline-none;
}

@utility focus-field-ring {
  @apply ring-focus ring-2 outline-none;
}

@utility invalid-field-ring {
  @apply ring-danger ring-1 outline-none;
}

@utility focus-invalid-field-ring {
  @apply ring-danger ring-2 outline-none;
}

/* Statuses utilities */
@utility status-disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--cursor-disabled);
}

@utility status-focused {
  @apply focus-ring;
}

@utility status-focused-field {
  @apply focus-field-ring;
}

@utility status-invalid-field {
  @apply invalid-field-ring;
}

@utility status-focused-invalid-field {
  @apply focus-invalid-field-ring;
}

@utility scrollbar-overlay {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}
