@layer components {
  .alert {
    @apply bg-surface rounded-surface flex w-full flex-row items-start justify-start gap-3 px-4 py-3;
    background-color: var(--alert-bg);

    --alert-bg: var(--color-surface);
    --alert-indicator-color: var(--color-primary-text);
    --alert-title-fg: var(--color-primary-text);
  }

  /* Variants */
  .alert--default {
    @apply shadow-surface;
    --alert-bg: var(--color-surface);
  }

  .alert--secondary {
    --alert-bg: var(--color-surface-secondary);
    --alert-border: var(--color-surface-secondary);
    box-shadow: none;
  }

  .alert--outline {
    --alert-bg: transparent;
    --alert-border: var(--color-control);
    box-shadow: var(--shadow-border);
  }

  /* Statuses */
  .alert--status-accent {
    --alert-indicator-color: var(--color-accent);
    --alert-title-fg: var(--color-accent);
  }
  .alert--status-success {
    --alert-indicator-color: var(--color-success);
    --alert-title-fg: var(--color-success);
  }
  .alert--status-warning {
    --alert-indicator-color: var(--color-warning);
    --alert-title-fg: var(--color-warning);
  }
  .alert--status-danger {
    --alert-indicator-color: var(--color-danger);
    --alert-title-fg: var(--color-danger);
  }
  .alert--status-default {
    --alert-indicator-color: var(--color-primary-text);
    --alert-title-fg: var(--color-primary-text);
  }

  .alert__content {
    @apply flex h-full grow flex-col items-start;
  }

  .alert__title {
    @apply text-sm leading-relaxed font-medium text-wrap wrap-break-word;
    color: var(--alert-title-fg);
  }

  .alert__description {
    @apply text-secondary-text text-sm leading-snug text-wrap wrap-break-word;
  }

  .alert__indicator {
    @apply mt-0.5 flex size-5 shrink-0 items-center justify-center;
    color: var(--alert-indicator-color);
  }

  .alert__actions {
    @apply flex shrink-0 items-center gap-2;
  }
}
