@layer components {
  .surface {
    @apply text-primary-text rounded-surface relative p-5;
  }

  .surface--default {
    background-color: var(--color-surface);
  }

  .surface--secondary {
    background-color: var(--color-surface-secondary);
  }

  .surface--outline {
    box-shadow: var(--shadow-border);
  }
}
